# JetBrains IDEs
.idea

# Vendors
vendor/
node_modules/

# Composer
composer.lock

# php-cs-fixer
.php_cs.cache

# Laravel 5 & Lumen specific
public/storage
storage/*.key
.env

# Homestead
Homestead.json
Homestead.yaml

